.products-container{
    //we want to display the products in grid format 
    display: grid;
    //we want to show the products in 4 equal sizes
    //1fr 4 evenly distributed giving 25% width
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    row-gap: 50px;
}