
//we rename from ShoppingIcon to ShoppingSvg not to make conflict for renaming the styled component
//to solve the problem of this import we need to make something global 
//for this reason we made a file inside src called custom.d.ts this file ts automatically looks for it
//this solves the error of moudle '../../assets/shopping-bag.svg' 
//Now we have an error with ReactComponent



  .cart-icon-container {
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 3rem;
      height: 3rem;
    }
  
    .item-count {
      position: absolute;
      font-size: 1.2rem;
      font-weight: bold;
      bottom: 1.2rem;
    }
  }
  