@use '../../styles/mixins' as *;

.testimonial-card {
  background-color: #f9f9f9;
  border-radius: 1rem; // 10px
  padding: 3rem; //30px it was 1.5rem;
  max-width: 30rem; // 300px
  flex: 1;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
  position: relative;

  // ✅ allow full width on small screens since they stack
  @include sm {
    max-width: 100%;
    width: 100%;
    padding: 2.4rem;
  }

  &--highlight {
    background-color: #c5f2d0; // light mint green
  }

  &__quote {
    font-style: italic;
    margin-bottom: 1rem;

    @include xs {
      font-size: 1.3rem;
    }
  }

  &__name {
    margin-bottom: 0.5rem;
  }

  //this before psuedo class is used to add the double qoute
  &::before {
    content: "\201C";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3rem;
    color: #333;
    margin-right: 0.3rem;
  }
}