



//before adding styledComponents
.authentication-container{
    display: flex;
    width: 90rem;
    justify-content: space-between;
    // this sets the top and bottom margins to 30 pixels and the left and right margins to "auto".
    margin: 3rem auto;
}